<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.shashank.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.shashank.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.shashank.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.shashank.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.shashank.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
 
   
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>com.attribute.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/S1</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>S2</servlet-name>
  <servlet-class>com.attribute.S2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>S2</servlet-name>
  <url-pattern>/S2</url-pattern>
  </servlet-mapping>
  
</web-app>